*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html,
body
{
text-align: center;
  background: linear-gradient(to right, #43cea2, #185a9d); 
}
div.header
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  background-color: rgba(0, 139, 139, 0.577);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 20vh;
}
div.header a
{
  text-decoration: none;
}
div.header a h2.logo
{
  padding: 12px;
  background-color: azure;
  border-radius: 100px;
  color: #070606;
  font-size: 18px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  width: 155px;
  height: 35px;
  overflow: hidden;
  transition: 2s cubic-bezier(0.23, 1, 0.320, 1);
}
div.header a h2.logo:hover
{
  font-size: 20px;
}
div.header div.container ul.menu
{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
div.header div.container ul.menu li
{
  list-style: none;
}
div.header div.container ul.menu li a
{
  color: blanchedalmond;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div.header div.container ul.menu li a:active,
div.header div.container ul.menu li a:hover
{
  -webkit-text-stroke: 1px #2e2626;
}
h2.welcomeText
{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 30%;
  color: azure;
  font-size: 48px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: default;
}
h2.welcomeText:hover
{
  color: rgba(0, 0, 0, 0.64);
}
h2.downstreamText
{
  position: absolute;
  text-align: center;
  top: 28%;
  left: 17.5%;
  color: azure;
  font-size: 36px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: default;
}
h2.downstreamText:hover
{
  color: rgba(0, 0, 0, 0.64);
}
div.mirrors
{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
  top: 32%;
  width: 100%;
  height: 40vh;
}
div.mirrors a
{
  text-decoration: none;
  color: azure;
  font-size: 24px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: default;
}
div.mirrors a:hover
{
  color: rgba(0, 0, 0, 0.64);
}
div.mirrors p.stableText
{
  color: azure;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: default;
}
::-webkit-scrollbar /* Delete scrollbar */
{
  display: none;
}
