body {
   margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(255,105,180,1) 0%, rgba(255,0,128,1) 100%);
}
.sidenav {
            height: 100%;
            width: 130px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #ffffff;
            overflow-x: hidden;
            padding-top: 20px;
        }
.navtext{
   animation-name: navtext-animation
}
@keyframes navtext-animation{
   from {
    color: purple;
  }
  25% {
    color: orange;
  }
  50% {
    color: red;
  }
  75% {
    color: blue;
  }
  to {
    color: yellow;
  }
}
      
      



        .sidenav a {
            padding: 15px 25px;
            text-decoration: none;
            font-size: 18px;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        #content {
            margin-left: 150px;
            padding: 15px;
        }

        #loaded-content {
            float: left;
        }
.gameimg{
height: 150px
width:150px
transition:0.3sec
