* {margin:0;padding:0;}
html,body {width:100%;height:100%;}

.maintitle {
  
}

#container {
  width: 300px;
  height: 300px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  box-shadow: 0px 0px 20px #000;
  background: linear-gradient(#f9855d,#fdd288,white);
  overflow: hidden;
}

.sun {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: #f9cb5d;
  border-radius: 50%;
}

.wave-01 {
  position: absolute;
  width: 300%;
  height: 300%;
  left: -100%;
  top: 50%;
  background-color: rgba(0,190,255,0.4);
  border-radius: 45%;
  animation: rotate 10s linear infinite;
}


.wave-02 {
  position: absolute;
  width: 300%;
  height: 300%;
  left: -100%;
  top: 57%;
  background-color: rgba(0,70,110,0.4);
  border-radius: 43%;
  animation: rotate 7s linear infinite;
}

.wave-03 {
  position: absolute;
  width: 300%;
  height: 300%;
  left: -100%;
  top: 60%;
  background-color: rgba(0,90,110,0.4);
  border-radius: 40%;
  animation: rotate 5s linear infinite;
}







@keyframes rotate {
  100% { transform: rotate(360deg);}
}

