*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html,
body
{
  background: linear-gradient(to right, #43cea2, #185a9d); 
}
.searchgames{
color: red;
}
div.header
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  background-color: rgba(0, 139, 139, 0.577);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 20vh;
}
div.sidenav 
{
		margin-top: 20px;
            z-index: -6;
            opacity: 1;
             background-color: rgba(0, 88, 140, 0.577);
            width: 10%;
            font-family: Inter, sans-serif;
            padding-top: 10%;
}
div.sidenav a
{
		color: rgba(252,252,252,1);
		text-align: center;
		display: block;
	    padding-top: 50px;
}
div.gege
{
	text-align:center;
}
div.header a
{
  text-decoration: none;
}
div.header a h2.logo
{
  padding: 12px;
  background-color: azure;
  border-radius: 100px;
  color: #070606;
  font-size: 18px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  width: 155px;
  height: 35px;
  overflow: hidden;
  transition: 2s cubic-bezier(0.23, 1, 0.320, 1);
}
div.header a h2.logo:hover
{
  font-size: 20px;
}
div.header div.container ul.menu
{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
div.header div.container ul.menu li
{
  list-style: none;
}
div.header div.container ul.menu a
{
  color: blanchedalmond;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div.header div.container  a:active,
div.header div.container  a:hover
{
  -webkit-text-stroke: 1px #2e2626;
}
h2.welcomeText
{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 12.5%;
  color: azure;
  font-size: 48px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: default;
}
h2.welcomeText:hover
{
  color: rgba(0, 0, 0, 0.64);
}
h2.welcomeText a[href="downstream.html"]
{
  text-decoration: none;
  color: lightgrey;
}
h2.downstreamText
{
  position: absolute;
  text-align: center;
  top: 28%;
  left: 17.5%;
  color: azure;
  font-size: 36px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: default;
}
h2.downstreamText:hover
{
  color: rgba(0, 0, 0, 0.64);
}
div.mirrors
{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
  top: 32%;
  width: 100%;
  height: 40vh;
}
div.mirrors a
{
  text-decoration: none;
  color: azure;
  font-size: 24px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: default;
}
div.mirrors a:hover
{
  color: rgba(0, 0, 0, 0.64);
}
div.mirrors p.stableText
{
  color: azure;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: default;
}
div.games
{
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  top: 30%;
  left: 0%;
  width: 100%;
  height: 50%;
  overflow-x: hidden;
}
div.games div.wrapper
{
  display: flex;
  align-items: center;
  justify-content: center;
}
div.games div.wrapper a
{
  text-decoration: none;
}
div.games div.wrapper a img.twoplayergames
{
  width: 200px;
  height: 200px;
}
div.games div.wrapper a img.btd5
{
  width: 195px;
  height: 151px;
}
div.games div.wrapper a img.trex
{
  width: 144px;
  height: 144px;
}
div.games div.wrapper a img.geodash
{
  width: 200px;
  height: 200px;
}
div.games div.wrapper a img.houseofhazards
{
  width: 198.4px;
  height: 125.4px;
}
div.games div.wrapper a img.janissarybattles
{
  width: calc(396 / 2);
  height: calc(222 / 2);
}
div.games div.wrapper a img.janissarytower
{
  width: 120px;
  height: 63px;
}
div.games div.wrapper a img.minigiants
{
  width: 200px;
  height: 200px;
}
div.games div.wrapper a img.motox3m
{
  width: 200px;
  height: 200px;
}
div.games div.wrapper a img.thepasswordgame
{
  width: 156.8;
  height: 11;
}
div.games div.wrapper a img.retrobowl
{
  width: calc(312 / 2);
  height: calc(320 / 2);
}
div.games div.wrapper a img.slopegame
{
  width: 200px;
  height: 200px;
}
div.games div.wrapper a img:hover
{
  transform: scale(5px);
}
::-webkit-scrollbar /* Delete scrollbar */
{
  display: none;
}
.sidenav {
            height: 100%;
            width: 130px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #ffffff;
            overflow-x: hidden;
            padding-top: 20px;
        }  
    #content a span {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    border-radius: 10% 10% 10% 10%;
    padding: 5px;
    padding: 25px;
    position: absolute;
    bottom: 85; /* Position at the bottom of the container */
    transform: translateX(-50%);
    transition: visibility 0.3s, opacity 0.3s;
    opacity: 0;
    z-index: 1;
}
        #content a:hover span {
            visibility: visible;
            opacity: 1;
        }
.game-card {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  transition: all 300ms;
  border: 3px solid transparent;
  display: block;
  margin: 15px;
}

.game-card:hover {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-color: var(--default);
}

.game-card:active{
  transform: scale(1);
  border-color: transparent;
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding-bottom: 3px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.game-card .title {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin: 0;
  opacity: 0;
  transition: all 300ms !important;
}

.game-card:hover .title {
  opacity: 1;
  transition: all 300ms !important;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.candyad {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
