*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html,
body
{
  background: linear-gradient(to right, #43cea2, #185a9d); 
}
div.header
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  background-color: rgba(0, 139, 139, 0.577);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 20vh;
}
div.header a
{
  text-decoration: none;
}
div.header a img.logo
{
  border-radius: 100px;
  width: 75px;
  height: 75px;
}
div.header div.container ul.menu
{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
div.header div.container ul.menu li
{
  list-style: none;
}
div.header div.container ul.menu li a
{
  color: blanchedalmond;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div.header div.container ul.menu li a:active,
div.header div.container ul.menu li a:hover
{
  -webkit-text-stroke: 1px #2e2626;
}
div.header div.container ul.menu div.megaMenu
{
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  top: 30vh;
  left: 20%;
  background: linear-gradient(to right, rgba(105, 220, 168, 0.685), rgba(92, 205, 115, 0.685), rgba(67, 216, 156, 0.685));
  backdrop-filter: blur(15px);
  width: 500px;
  height: 30vh;
  transition: height 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
div.header div.container ul.menu div.megamenu ul.partsList
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
div.header div.container ul.menu div.megamenu ul.partsList li
{
  list-style: none;
}
div.header div.container ul.menu div.megamenu ul.partsList li a
{
  text-decoration: none;
  color: blanchedalmond;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}
div.header div.container ul.menu div.megamenu ul.partsList li a:hover
{
  -webkit-text-stroke: 1px #2e2626;
}
div.header div.container ul.menu div.megamenu ul.partsList li p
{
  color: burlywood;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}
@keyframes heightChange
{
  0%, 10%
  {
    height: 5vh;
  }
  15%, 35%
  {
    height: 15vh;
  }
  40%, 50%
  {
    height: 20vh;
  }
  60%
  {
    height: 22.5vh;
  }
  65%, 80%
  {
    height: 25vh;
  }
  100%
  {
    height: 30vh;
  }
}
h2.welcomeText
{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 30%;
  color: azure;
  font-size: 48px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: default;
}
h2.welcomeText:hover
{
  color: rgba(0, 0, 0, 0.64);
}
::-webkit-scrollbar /* Delete scrollbar */
{
  display: none;
}